h1{
  position: relative;
  width: max-content;
  scale: 0.1;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, scale 0.5s ease-in-out;;
}
h1:hover {
  scale: 1;
  opacity: 1;
}
h1::after {
  content: '';
  height: .2em;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: red;
  scale: 0;
  transition: scale 0.5s ease-in-out;
  opacity: 1;
}

h1:hover::after {
  scale: 1;
  opacity: 1;
}